Repository ral-facilities/scigateway, pull requests merged in 2022-03, with the labels that each got.

#978 Fix cookie warning in firefox #975
  src/cookieConsent/cookieConsent.component.test.tsx
  src/cookieConsent/cookieConsent.component.tsx
  src/cookieConsent/cookiesPage.component.tsx
Labels: not MVP

#982 Accessibility page #979
  public/res/default.json
  src/accessibilityPage/accessibilityPage.component.test.tsx
  src/accessibilityPage/accessibilityPage.component.tsx
  src/footer/__snapshots__/footer.component.test.tsx.snap
  src/footer/footer.component.tsx
  src/routing/__snapshots__/routing.component.test.tsx.snap
  src/routing/routing.component.tsx
  src/state/scigateway.types.tsx
Labels: accessibility

#974 Making default admin view configurable #958
  public/res/default.json
  public/settings.example.json
  src/adminPage/__snapshots__/adminPage.component.test.tsx.snap
  src/adminPage/adminPage.component.test.tsx
  src/adminPage/adminPage.component.tsx
  src/adminPage/maintenancePage.component.test.tsx
  src/adminPage/maintenancePage.component.tsx
  src/mainAppBar/__snapshots__/mainAppBar.component.test.tsx.snap
  src/mainAppBar/mainAppBar.component.test.tsx
  src/mainAppBar/mainAppBar.component.tsx
  src/routing/__snapshots__/routing.component.test.tsx.snap
  src/routing/routing.component.tsx
  src/state/actions/scigateway.actions.test.tsx
  src/state/actions/scigateway.actions.tsx
  src/state/reducers/scigateway.reducer.test.tsx
  src/state/reducers/scigateway.reducer.tsx
  src/state/scigateway.types.tsx
  src/state/state.types.tsx
Labels: user feedback

#984 changing the account icon button #983
  src/mainAppBar/userProfile.component.tsx
Labels: bug, accessibility

#987 accessibility page minor tweaks #986
  public/res/default.json
  src/accessibilityPage/accessibilityPage.component.tsx
Labels: enhancement, accessibility

#993 Adding Contact Us form for accessibility enquiries #990
  public/settings.example.json
  src/accessibilityPage/__snapshots__/contactUs.component.test.tsx.snap
  src/accessibilityPage/accessibilityPage.component.test.tsx
  src/accessibilityPage/accessibilityPage.component.tsx
  src/accessibilityPage/contactUs.component.test.tsx
  src/accessibilityPage/contactUs.component.tsx
  src/state/actions/scigateway.actions.test.tsx
  src/state/actions/scigateway.actions.tsx
  src/state/reducers/scigateway.reducer.test.tsx
  src/state/reducers/scigateway.reducer.tsx
  src/state/scigateway.types.tsx
  src/state/state.types.tsx
Labels: enhancement, accessibility
